<ion-view view-title="Leaders">
  <ion-content class="padding">
      <ion-list can-swipe="listCanSwipe">
         <ion-item class="item item-divider">
            Recent Winners
          </ion-item>
        <ion-item class="item">
          <p>Smarty Pants</p>
        </ion-item>
        <ion-item class="item">
          <p>Clever Boys</p>
        </ion-item>
        <ion-item class="item">
          <p>Stand the man</p>
        </ion-item>
         <ion-item class="item item-divider">
            All Time Leaders
          </ion-item>
        <ion-item class="item">
          <h3>Smarty Pants</h3>
          <p>300 points</p>
        </ion-item>
        <ion-item class="item">
          <h3>Dave</h3>
          <p>266 points</p>
        </ion-item>
        <ion-item class="item">
          <h3>Ryan</h3>
          <p>200 points</p>
        </ion-item>
         <ion-item class="item item-divider">
            All Time Leaders
          </ion-item>
        <ion-item class="item">
          <h3>Smarty Pants</h3>
          <p>300 points</p>
        </ion-item>
        <ion-item class="item">
          <h3>Dave</h3>
          <p>266 points</p>
        </ion-item>
        <ion-item class="item">
          <h3>Ryan</h3>
          <p>200 points</p>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
